APP_NAME=Simple 3-Tier Todo API
API_V1_STR=/api/v1
DEBUG=true
SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=1440
DATABASE_URL=postgresql+psycopg://postgres:postgres123@db:5432/todo_db
CORS_ORIGINS=http://localhost:5173
